body {
  margin: 2%;
}

div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 2px;
  background-color: #cae8ca;
  border: 1px solid #4CAF50;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #1c6;
}

.peu {
	color: #00cc66;
	text-align: center;
}
